html {
    margin: 0;
    padding: 0;    
}

body {
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: url(./images/photo-1621872315260-d29289474c0a.avif) repeat center center fixed;
    background-size: cover;
    color: white;
    opacity: 0;
    transition: opacity 3s ease-in-out, filter 2s ease-in-out;
}

#vanta {
    z-index: -2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100svw;
    height: 100svh;
}

main {
    position: relative;
    /* opacity: 0; */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-family: 'Fira Code', monospace;
    font-size: 0.6rem;
}

header > h1 {
    background-color: rgba(0, 0, 0, 0.667);
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 0.5em;
}

.img-icons img  {
    width: 2rem;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    /* width: 80%; */
    margin: 0 auto;
    padding: 2em;
    list-style-type: none;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    max-width: 480px;
}

li {
    justify-content: space-around;
    background-color: #fffa;
    backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
    border-radius: 10em;
    padding: 1em;
    margin: 1.4em 0;
    letter-spacing: 0.2em;
}

li > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

a {
    color: black;
    text-decoration: none;
}

.profile-photo {
    width: 10rem;
}

.profile-photo > img {
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid rgb(255, 255, 255, 0.5);
    box-shadow: 0px 0px 61px 47px rgba(157, 250, 81, 0.2);
}

/* .bg-filter {
    width: 100svw;
    height: 100svh;
    background-color: white;
    opacity: 0.15;
    position: absolute;
    z-index: -1;
} */